body{
position: relative;
background-color:azure;
}

.header{
    background:
    linear-gradient(
        to right,
        azure,
        #87949D
           );
}

.header .navbar-brand img {
    float: left;
}
.header .navbar-nav{
float: right;
}
.header .nav-item{
display: inline;
font-size: larger;
}

.header .nav-item a{
    color: #242426;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
}
.header a:hover{
    color: rgb(72, 72, 150);
}
.header :hover :active{
    color: rgb(104, 104, 172);
}

.home{
    margin:10vh 0vw;
    padding: 15vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4)), url(images/WhatsApp\ Image\ 2024-03-10\ at\ 21.16.24_b7bfcfbd.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: scroll;
    background-position-y:4%;

}

.home p{
    text-align:justify;
    font-weight: bold;
    margin: 10vh 5vw 0 5vw;
}


.feature{
    margin:10vh 0vw;
    padding: 10vh;

}
.feature .list-group-item {
    margin: 1vh 4vw 0 4vw;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

.Contact{
    margin:10vh 0vw;
    padding: 10vh;
    background:
    linear-gradient(
        to right,
        azure,
        #87949D
           );
}
.Contact form input,
form textarea,
form button {
    margin-bottom: 2vh;
    padding: 2vh ;
    font-size:medium;
}
.Contact form button {
    background-color:#242426;
    color: azure;
    float: right;

}

.container-md h1{
    color: #242426;
    font-size:30pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.footer{
    background:
    linear-gradient(
        to right,
        azure,
        #87949D
           );
    padding: 2vh 5vw;
}
.footer .list-group{
    float: right;
}
.footer .list-group-item{
    font-size: large;
    color: #242426;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    background-color: transparent;
    border: none;
}
.footer p{
    color: #242426;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer a:hover{
    color: rgb(72, 72, 150);
}